body {
    background:
    /* linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), */
    
    url(https://img.freepik.com/premium-vector/light-neumorphism-circle-background-three-dimensional-neumorphic-texture-wallpaper-neumorphism-vector-background-neumorphic-ui-ux-interface-design-vector-graphic-eps-10_564974-55.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
/* 
    width: 100vw;
    height: 100vh; */
}

canvas {
  position: absolute;
  /* top: inherit; */
  left: 0;
  /* z-index: 10; */

}

/* * {
    margin: 0;
    padding: 0;
} */

.app {
  text-align: center;
}

.appBar {
  /* border-radius: 15; */
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 2px solid black;
  position: fixed;
  top: 20px;
  height: auto;
}
/* .display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.position-absolute {
  position: absolute;
} */

.position-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.position-absolute {
  position: absolute
}
